<header>
  <figure id="logo">
    <img src="/images/logo.jpg" alt="WBA - World Business Agency" />
  </figure>

  <nav class="language-chooser">
    <ul>
      <li>
        <a href="{{ "/en" | prepend: site.baseurl }}" title="English">
          <img src="/images/english.png" alt="English" />
        </a>
      </li>
      <li>
        <a href="{{ "/pt-br" | prepend: site.baseurl }}" title="Português Brasileiro">
          <img src="/images/portuguese_brazilian.png" alt="Portugues Brasileiro" />
        </a>
      </li>
    </ul>
  </nav>
</header>
